// Maket
$maxWidth: 1980;
$maxWidthContainer: 1440;  
$minWidth: 320;

$laptop-size: 2400px;
$tablet-size: 1300px;
$mobile-size: 1100px;

// Colors

// Mq
$breakpoints: (
  "mobile": 490px,
  "tablet": 768px,
  "mtablet": 850px,
  "mlaptop": 1024px,
  "laptop": 1199px,
  );
