:root {
	--container-width: 1200px;
	--container-padding: 15px;

	--font-main: "Manrope";
	--font-size: 16px;

	--page-bg: #fff;
	--text-color: #000;
}

// Maket
$maxWidth: 1980;
$maxWidthContainer: 1440;  
$minWidth: 320;

$laptop-size: 2400px;
$tablet-size: 1300px;
$mobile-size: 1100px;

// Colors

// Mq
$breakpoints: (
  "mobile": 490px,
  "tablet": 768px,
  "mtablet": 850px,
  "mlaptop": 1024px,
  "laptop": 1199px,
  );

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}