@use "@/scss/utils/function" as *;
.relativeConteiner {
  display: inline-block;
  width: rem(30);
  height: rem(30);
  padding: rem(30) 12.4vw;
  flex-shrink: 0;
  box-sizing: border-box;
  scroll-snap-align: start;
}
.circle {
  width: rem(60);
  height: rem(60);
  cursor: pointer;
  display: flex;
  justify-content: end;
  align-items: start;
  border-radius: 50%;
  background-color: yellow;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-out; /* Плавне масштабування */
  z-index: 3;
}
.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
  height: 20px;
  width: 20px;
  color: white;
  border-radius: 50px;
  background-color: #404040;
}