@use "@/scss/utils/function" as *;
.yellowCircleConteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: rem(var(--circle-conteiner-size));
}
.relativeConteiner {
  display: inline-block;
  width: rem(var(--circle-size-half));
  height: rem(var(--circle-size-half));
  padding: rem(var(--circle-size-half)) 12.5vw;
  flex-shrink: 0;
  box-sizing: border-box;
  scroll-snap-align: start;
}