@use "@/scss/utils/function" as *;
// genieFormButton -------------------------------------------
.genieFormButton {
  width: rem(var(--circle-size));
  height: rem(var(--circle-size));
  margin: auto calc(12.5% - #{rem(var(--circle-size-half))}) 0 auto;
  box-sizing: border-box;
  background-color: var(--genie-form-background-color);
  border-radius: 50px;
  color: #fff;
  position: absolute;
  left: calc(87.5% - #{rem(var(--circle-size-half))});
  transition: all 1.5s ease;
}
.genieFormButton:active {
  background-color: var(--genie-form-background-color-activ);
}
.active {
  position: absolute;
  height: 320px;
  width: calc(100vw - 20px);
  margin: rem(var(--genie-form-margin));
  transform-origin: left bottom;
  border-radius: 20px;
  background-color: #4caf50;
  cursor: pointer;
}
// plus ----------------------------------------------------------
//.close {
//  cursor: pointer;
//  position: absolute;
//  top: 29px;
//  right: 44px;
//}
//.close:before,
//.close:after {
//  content: "";
//  position: absolute;
//  width: 30px;
//  height: 4px;
//  background: gray;
//  border-radius: 2px;
//}
//.close:before.active {
//  transform: rotate(45deg);
//}
//.close:after {
//  transform: rotate(-90deg);
//}

