@use "@/scss/utils/function" as *;

.conteinerGrey {
   display: flex;
   justify-content: space-around;
   background-color: var(--data-out-put-background-color);
   padding: rem(var(--data-out-put-padding));
   border-top: 3px solid grey;
   border-bottom: 3px solid grey;
}