@use "@/scss/utils/function" as *;
@use "@/scss/utils/mixins" as m;
// animationContainer ----------------------------------------------------------

.animationContainer {
    width: 100vw;
    background-color: #f0f0f0;
}
// Bug ----------------------------------------------------------
.bug {
	width: rem(var(--circle-size-half));
	height: rem(var(--circle-conteiner-size));
	padding: rem(var(--circle-size-half));
	margin: auto calc(12.5% - #{rem(var(--circle-size-half))}) 0 auto;
	box-sizing: border-box;
	border-radius: 50px;
}
// Yellow Conteiner ----------------------------------------------------------

.yellowCircleConteiner {
	width: 100%;
    display: flex;
	align-items: center;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	padding: rem(var(--conteiner-paddings)) 0;
	border-top: 1px solid grey;
    border-bottom: 1px solid grey;
	box-sizing: border-box;
	transition: transform 0.3s ease; /* Плавне переміщення */
}
// Green Conteiner ----------------------------------------------------------

.greenCircleConteiner {
	position: relative;
	display: flex;
	align-content: start;
	flex-wrap: wrap;
	padding: rem(var(--conteiner-paddings)) 0 ;
	row-gap: rem(var(--conteiner-row-gap));
	overflow-y: auto;
	scroll-snap-type: y mandatory;
	scrollbar-width: none;
	@include m.laptop {
		height: rem(var(--conteiner-height-laptop));
	}
	@include m.tablet {
		height: rem(var(--conteiner-height-tablet));
	}
	@include m.mobile {
		height: rem(var(--conteiner-height-mobile));
	}
}
// Complete Button -----------------------------------------------

.completeButton {
	width: 100%;
	height: rem(var(--complete-button-size));
	background-color: orange;
	position: absolute;
	left: 0;
	bottom: rem(var(--complete-button-bottom));
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: rem(var(--complete-button-font-size));
	color: white;
	box-sizing: border-box;
	z-index: 1;
	transition: 0.3s bottom ease-in-out;
}
.changeAnimation {
	bottom: rem(var(--complete-button-animation-bottom));;
}
// Change animation ----------------------------------------

.rotate {
	animation: rotateBackAndForth 0.4s ease-in-out infinite;
}

@keyframes rotateBackAndForth {
	0% {
		transform: rotate(-2deg);
	}
	50% {
		transform: rotate(2deg);
	}
	100% {
		transform: rotate(-2deg);
	}
}



