.change {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
  height: 20px;
  width: 20px;
  color: white;
  border-radius: 50px;
  background-color: #404040;
  position: absolute;
}