@use "@/scss/utils/function" as *;

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
  height: rem(var(--delete-button-height));
  width: rem(var(--delete-button-width));
  color: var(--delete-button-color);
  border-radius: 50px;
  background-color: var(--delete-button-background-color);
  position: absolute;
}