@use "@/scss/utils/function" as *;
@use "@/scss/utils/mixins" as m;
.diagramConteiner {
  width: 100%;
  background-color: var(--diagram-background-color);
  @include m.laptop {
    height: calc(100vh - #{rem(var(--diagram-height-laptop))});
  }
  @include m.tablet {
    height: calc(100vh - #{rem(var(--diagram-height-tablet))});
  }
  @include m.mobile {
    height: calc(100vh - #{rem(var(--diagram-height-mobile))});
  }
}

