@use "@/scss/utils/function" as *;
@use "@/scss/utils/utils" as u;

.mainBlock {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: calc(100vh - #{rem(var(--main-block-height))});
 z-index: 2;
}