@use "@/scss/utils/function" as *;
@use "@/scss/utils/mixins" as *;
@use "@/scss/utils/utils";

.mainBlock {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: calc(100vh - #{rem(120)});
}