@use "@/scss/utils/function" as f;
@use "@/scss/utils/utils" as u;

.mainBlock {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: calc(100vh - #{f.rem(120)});
 z-index: 2;
}