@use "@/scss/utils/function" as *;

.relativeConteiner {
  width: rem(var(--circle-size));
  height: rem(var(--circle-conteiner-size));
  margin: 0 calc(12.5% - #{rem(var(--circle-size-half))});
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  scroll-snap-align: center;
}
.greenCircleBack {
  width: rem(var(--circle-size));
  height: rem(var(--circle-size));
  cursor: pointer;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.yellowInGreen{
  width: rem(var(--yellow-in-green));
  height: rem(var(--yellow-in-green));
  border-radius: 50%;
  background-color: yellow;
}