@use "@/scss/utils/function" as *;
// greenCircle ----------------------------------------------------------

.relativeConteiner {
  width: rem(60);
  height: rem(110);
  margin: 0 calc(12.5% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  scroll-snap-align: center;
}
.greenCircleBack {
  width: rem(60);
  height: rem(60);
  cursor: pointer;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.greenCircle {
  width: rem(60);
  height: rem(60);
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: green;
  position: absolute;
}
.yellowInGreen{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: yellow;
}