@use "@/scss/utils/function" as *;

.infoLineConteiner {
  height: rem(var(--info-line-height));
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.count {
  font-size: rem(var(--info-line-count));
}